footer.container.py-5
    .row
        .col-md-6
            nav.nav.footer.justify-content-center.justify-content-md-start
                a.m-3.nave-link(href="/aboutus") About US
                a.m-3.nave-link(href="/travels") Upcoming Travels
                a.m-3.nave-link(href="/testimonials") Testimonials
        .col
            p.copyright.text-center.text-md-right
                | All Rights Reserved 
                span #{currentYear}