extends ../layout/index.pug

block content
    main.container.mt-5
        .row    
            .col-md-12
                h1.text-center=pageTitle

            .col-md-12
                h1.text-center Add Testimonials

                .row.justify-content-center
                    .col-md-8
                        form(action="/testimonials" method="POST")
                            .form-group.text-center
                                label(for="name") Name
                                input(id="name" type="text" class="form-control" name="name" placeholder="Your Name")
                            .form-group.text-center
                                label(for="email") Email
                                input(id="email" type="email" class="form-control" name="email" placeholder="Your Name")
                            .form-group.text-center
                                label(for="testimonial") Testimonial
                                textarea(id="testimonial" name="testimonial" cols="30" class="form-control" rows="5" placeholder="Message")
                            input.btn.btn-success.btn-block(type="submit" value="Add Testimonial")