extends ../layout/index.pug

block slider
    .slider
        h1 Rio de Janero
        em Adventure
block content
    main.container.mt-5
        h2.text-center.mb-5 About Us
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at pulvinar mauris. Duis molestie quis velit quis imperdiet. Nulla ultricies in enim quis varius. Aenean accumsan imperdiet lorem, a eleifend erat lobortis eu. Sed scelerisque gravida nulla sed venenatis. Mauris convallis nibh sit amet porta auctor.
                p Nam eget congue sapien. Quisque lobortis ligula ac suscipit gravida. Mauris dignissim feugiat augue, ac pretium felis mattis egestas. Nullam sodales turpis vel urna efficitur maximus. Vivamus at magna in purus maximus feugiat vitae ut urna. Etiam ullamcorper euismod vehicula.
            .col-md-6
                img(src="/img/about_home.jpg" alt="About Us Image").img-fluid
    .container
        h2.text-center Upcoming Travels
        include ../layout/includes/partials.pug
    .discount
        .container
            .row
                .col-md-6
                    .content
                        h2 5% OFF
                        p.title Travel to Canada
                        p.date 20th August 2020 - 21 December 2020
                        p.price $25,000
    .container
        h2.text-center Testimonials
        include ../layout/includes/tesimonials_partial.pug